.tools {
  margin-top: 111px;
  align-items: center;
  background-image: url(../../images/backgrounds/tools-bg.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  min-height: 543px;
}
