// Colors
$color-background:#ffff;
$color-header:#2F281E;
$color-text: #544837;
$color-light:#FFFFFF;
$color-orange:#FF9900;
$color-pink:#FF7549;


// Default paddings for sections

$padding-left:120px;
$padding-right:120px;
$padding-top:120px;

// Width of content 
$desktop-width:1440px; // Desktop
$tablet-width:768px; // Tablet