// Colors
$color-background:#ffff;
$color-header:#2F281E;
$color-text: #544837;
$color-light:#FFFFFF;
$color-orange:#FF9900;
$color-red-orange:#FF7549;
$color-dark:#173A56;
$color-gray:#F5F5F5;
// Colors icon__container
$color-yellow:#FAB005;
$color-blue:#4DADF7;
$color-violet:#7752BE;
$color-pink:#F03E3D;



// Default paddings for sections

$padding-left:122px;
$padding-right:122px;
$padding-top:120px;

// Width of content
$desktop-width:1440px; // Desktop
$tablet-width:768px; // Tablet
$mobile-width:375px; // Mobile
