.modal__container {
  width: 675px;
  min-height: 670px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}
