.menu__link {
  @extend %font-main;
  text-decoration: none;
  @include font ($font-style: normal,
    $font-weight: normal,
    $font-size: 15px,
    $line-height: 28px,
  );
  color: $color-header;

  &:hover {
    color: $color-orange;
  }
}
