.about__title {
  margin: 0;
  @extend %font-main;
  color: $color-header;
  @include font ($font-style: normal,
    $font-weight: bold,
    $font-size: 34px,
    $line-height: 1.29,
  );

  @include media-tablet {
    text-align: center;
    line-height: 1.35;
  }

  @include media-mobile {

    font-size: 24px;
    line-height: 1.37;
  }

}
