.tools__title {
  margin: 0;
  max-width: 462px;
  text-align: center;
  @extend %font-header;
  color: $color-header;
  @include font ($font-style: normal,
    $font-weight: bold,
    $font-size: 34px,
    $line-height: 1.29,
  );

  @include media-mobile {
    font-size: 24px;
    line-height: 1.37;
  }
}
