.strategy__title {
  margin: 24px 0 0 0;
  padding: 0 33px;
  text-align: left;
  @extend %font-main;
  color: $color-header;
  @include font ($font-style: normal,
    $font-weight: bold,
    $font-size: 23px,
    $line-height: 34px,
  );

}
